<div id="footerwrap">
 <div class="container">
   <div class="row">
     <div class="col-lg-4">
       <h4>About Us</h4>
       <div class="hline-w"></div>
       <p>INMAGIK offre servizi legati allo sviluppo di applicazioni web, gestione, processing e visualizzazione dati. La nostra attività va dai servizi di consulenza sulla tecnologia che amiamo e utilizziamo, allo sviluppo di soluzioni software custom e applicazioni e servizi mobile e web based. </p>
     </div>
     <div class="col-lg-4">
       <h4>Links</h4>
       <div class="hline-w"></div>
       <p>
         <a href="https://inmagik.com/it/"><i class="fa fa-link"></i></a>
         <a href="https://twitter.com/inmagiklabs"><i class="fa fa-twitter"></i></a>
         <a href="https://github.com/inmagik"><i class="fa fa-github"></i></a>
       </p>
     </div>
     <div class="col-lg-4">
       <h4>La Nostre Coordinate</h4>
       <div class="hline-w"></div>
       <p>
         Via Masone 6, 24121, Bergamo(BG), Italy<br/>
         TEL 035 19901780<br/>
         MAIL <a href="mailto:joe@example.com?subject=feedback">info@inmagik.com</a><br/>
       </p>
     </div>

   </div><! --/row -->
 </div><! --/container -->
</div><! --/footerwrap -->
