{% load activelink %}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "home" %}">T_MoNKEY</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="{% ifactive "tour" %}active{% endifactive %}"><a href="{% url "tour" %}">Tour</a></li>
        <li class="{% ifactive "learn" %}active{% endifactive %}"><a href="{% url "learn" %}">Learn</a></li>
        <li class="{% ifactive "servizi" %}active{% endifactive %}"><a href="{% url "servizi" %}">Servizi</a></li>
        <li class="{% ifactive "contatti" %}active{% endifactive %}"><a href="{% url "contatti" %}">Contatti</a></li>
        <li class="{% ifactive "login" %}active{% endifactive %}"><a href="{% url "login" %}">Log in</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
